<div class="d-flex justify-content-center flex-column">
  <h2 class="text-center my-5">Bienvenidos a Mercado WEB, selecciona tus productos</h2>

  {{#if listExists}} 
    <ul class="productos">
      {{#each products}}
        <li>{{> producto}}</li>
      {{/each}}
    </ul>
  {{/if}}

</div>

{{> shoppingCar}}
{{> shoppingCarBtn}}